{{range service "helloworld"}}
<VirtualHost *:80>
  ProxyPreserveHost On
  ServerAlias {{.Name}}.service.consul
  ProxyPass / http://{{.Address}}:{{.Port}}/
  ProxyPassReverse / http://{{.Address}}:{{.Port}}/
</VirtualHost>
{{end}}
